/* CUSTOM PROPERTYS */
:root {
    --text-color: #9E9AA8;
    --site-bgc: #fff;
    --text-color-dark: #34313D;
    --accent-color: #2BD0D0;
    --accent-color-hover: #9AE3E3;
    --light-bg: #EFF1F7;
    --dark-bg: #232127;
    --sections-bg: #3A3054;
    --error-color: #F46363;
}

/* GLOBAL STYLES */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-style: 15px;
    line-height: 1.5;
    background-color: var(--site-bgc);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
.button {
    padding: 14px 40px 12px;
    border-radius: 28px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    background-color: var(--accent-color);
}
.button:hover {
    background-color: var(--accent-color-hover);
}
.button:active {
    opacity: 0.6;
}
.button-small {
    padding: 9px 24px;
    font-size: 15px;
    line-height: 22px;
}
.button-rectengel {
    border-radius: 10px;
    padding: 18px 40px 16px;
}
.button-rectengel-small {
    border-radius: 5px;
    padding: 10px 31px 7px;
    font-size: 15px;
    line-height: 22px;
}
.copy-button--open {
    background-color: #3A3054;
}
.copy-button--open:hover {
    background-color: #3A3054;
    opacity: 0.8;
}
.copy-button--open:active {
    background-color: #3A3054;
    opacity: 0.6;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1;
}


/* SITE HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}
.site-header__container {
    display: flex;
    align-items: center;
}

/* LOGO */
.logo {
    display: inline-block;
    width: 120px;
    height: 32px;
}
.site-header__logo {
    margin-right: 45px;
}


.site-nav {
    margin-right: auto;
}
.site-nav__list {
    display: flex;

}
.site-nav__item:not(:last-child) {
    margin-right: 30px;
}
.site-nav__link {
    font-weight: bold;
}
.site-nav__link:hover {
    color: var(--text-color-dark);
}
.site-nav__link:active {
    opacity: 0.6;
}
.site-header__login-link {
    font-weight: 700;
    margin-right: 37px;
}
/* //SITE HEADER */



/* HERO */
.hero {
    padding-top: 90px;
    padding-bottom: 222px;
    background-image: url(../img/working_with_computer.svg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 475px) top 30px;
}
.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--text-color-dark);
    margin-top: 0;
    margin-bottom: 5px;
}
.hero__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 38px;
    color: var(--text-color);
}
/* //HERO */

/* INDEX URL SHORTENER AND FEATURES WRAPPER */

.index-url-shortener-features-wrapper {
    background-color: var(--light-bg);
}
.index-url-shortener-wrapper {
    display: flex;
    flex-direction: column;
}
.url-shortener {
    padding-top: 84px;
    margin-top: -168px;
}
.url-shortener__form {
    background-image: url(../img/url\ bgi.svg);
    padding: 52px 64px;
}
.url-shortener__input-wrapper {
    display: flex;
    position: relative;
}
.url-shortener__input {
    flex-grow: 1;
    margin-right: 24px;
    padding: 14px 32px;
    border-radius: 10px;
    border: 2px solid transparent;
}
.url-shortener__input:placeholder-shown {
    color: #34313D;
}
.url-shortener__input:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--error-color);
    color: var(--error-color);
}

.url-shortener__error {
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
    display: none;
}
.url-shortener__error-link {
    color: var(--error-color);
}

.url-shortener__input:not(:focus):not(:placeholder-shown):invalid ~ .url-shortener__error {
    display: block;
    color: var(--error-color);
}

/* URL SHRTENER RESULTS */
.url-shortener__results {
    margin-top: 24px;
    display: none;
}
.url-shortener__results-open {
    display: block;
}
.url-shortener__result {
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.url-shortener__result:not(:last-child) {
    margin-bottom: 16px;
}

.url-shortener__result-orginal-link {
    flex-grow: 1;
    color: var(--text-color-dark);
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
}
.url-shortener__result-short-link {
    margin-right: 24px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: var(--accent-color);
}
/* //INDEX URL SHORTENER AND FEATURES WRAPPER */


/* RETINA BG */
@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        /* retina bg img */
}
/* //RETINA BG */
input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}
input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}
input:focus + .validation-error,
input:valid + .validation-error,
input:placeholder-shown + .validation-error {
    display: none;
}